<!DOCTYPE html>
<html lang="en">
    <head>
        <% var Tload = 5; %> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>playlist</title>
        <meta http-equiv="refresh" content="5">
        <!-- <script src="../script.js"></script> -->
    </head>
    <body>
        <style>
            .p_name{
                position: relative;
                text-align: center;
                color: #011627;
                top: 10px;
            }

            button{
                position: relative;
                border: none;
                outline: none;
                background-color: #FF0022;
                border-radius: 40px 40px 40px 40px;
                height: 20px;
                width: 20%;
                color: #FDFFFC;
                top: 25px;
            }
            button:hover{
                background-color: #ff3a54;
                width: 25%;
                transition: .3s;
            }

            #Clist button{
                text-align: center;
                position: relative;
                top: auto;
                height: 20px;
                width: 20%;
            }
            #Clist button:hover{
                background-color: #ff3a54;
                width: 25%;
                transition: .3s;
            }

            a.vid_name{
                display: block;
                border-radius: 40px 40px 40px 40px;
                background-color: #FF0022;
                color: #FDFFFC;
                border: solid;
                border-color: #FF0022;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 80%;
                height: 25px;
                text-decoration: none;
                margin: auto;
            }
            a:hover{
                text-decoration: underline;
                transition: .3s;
            }

            .p_list{
                position: relative;
                width: 100%;
                height: 100px;
                top: 10px;
            }

            hr{
                width: 80%;
                color: black;
                position: relative;
                top: 30px;
                border: thin solid #FF0022;
                border-style: dashed;
            }

            *{
                text-align: center;
                font-family: sans-serif;
            }   
        </style>

        <!-- <div id="Clist" style="display: block;">
        <button onclick="clearList()">Clear LIST</button>
        </div> -->

        <div class="p_list" style="display: none;">
            <div class="p_name">
                <a class="vid_name" href="" target="_blank">
                    <strong></strong>
                </a>
            </div>
            <button class="bttn" value="mp3">MP3</button>
            <button class="bttn" value="mp4">MP4</button>
            <hr>
        </div> 


        <% if (link_list.length > 0){ %> 
            <% Tload = 5; %>  
            <% for(var i = 0; i < link_list.length; i++){ %> 
                <div class="p_list">
                    <div class="p_name">
                        <a class="vid_name" href="<%= link_list[i] %>"  target="_blank">
                            <strong> <%= title_L[i] %> </strong> 
                        </a>   
                    </div>  
                    <button id="btn_mp" value="mp4" onclick="redirectMp4('<%= link_list[i] %>');">MP4</button>
                    <button id="btn_mp" value="mp3" onclick="redirectMp3('<%= link_list[i] %>');">MP3</button>
                    <hr>  
                </div>   
            <% } %>  
        <% }else{ %>
            <% Tload = 5; %> 
        <% } %> 

    </body>
    <script>
        let serverURL = 'https://utube-convert.herokuapp.com';
        // let serverURL = 'http://localhost:2393';

        function clearList(){
            link_list = {};
        }

        function pageRefresh(time){
            setTimeout(function(){window.location.reload(true)},time*1000);
        }

        function WinClose(){
            newWindow.open('','_self').close();     
        }

        function redirectMp3(query) {  
            var newWindow = window.open("about:blank");
            newWindow.location.href = `${serverURL}/../../downloadmp3?url=${query}`;
            setTimeout(function() {WinClose()},3000);
        }

        function redirectMp4(query) {
            var newWindow = window.open("about:blank");
            newWindow.location.href = `${serverURL}/../../downloadmp4?url=${query}`;
            setTimeout(function() {WinClose()},3000);
        }
    </script>
</html>